services:
  - type: web
    name: digamber-upi-bot
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: python app.py
    envVars:
      - key: DISCORD_TOKEN
        sync: false
      - key: MONGO_URI
        sync: false
      - key: PORT
        value: "10000"
    healthCheckPath: /health
    autoDeploy: true
